In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('../data/observations.csv')
data

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,VALUE,UNITS
0,2008-03-11,71949668-1c2e-43ae-ab0a-64654608defb,5114a5b4-64b8-47b2-82a6-0ce24aae0943,8302-2,Body Height,166.03,cm
1,2008-03-11,71949668-1c2e-43ae-ab0a-64654608defb,5114a5b4-64b8-47b2-82a6-0ce24aae0943,29463-7,Body Weight,54.42,kg
2,2008-03-11,71949668-1c2e-43ae-ab0a-64654608defb,5114a5b4-64b8-47b2-82a6-0ce24aae0943,39156-5,Body Mass Index,19.74,kg/m2
3,2008-03-11,71949668-1c2e-43ae-ab0a-64654608defb,5114a5b4-64b8-47b2-82a6-0ce24aae0943,8480-6,Systolic Blood Pressure,139.0,mmHg
4,2008-03-11,71949668-1c2e-43ae-ab0a-64654608defb,5114a5b4-64b8-47b2-82a6-0ce24aae0943,8462-4,Diastolic Blood Pressure,89.0,mmHg
...,...,...,...,...,...,...,...
79669,2017-07-10,8b9de29c-34c9-405f-840c-71b5210cf9e1,c7455496-e0a6-4a24-ae0d-72e41772c202,2571-8,Triglycerides,120.0,mg/dL
79670,2017-07-10,8b9de29c-34c9-405f-840c-71b5210cf9e1,c7455496-e0a6-4a24-ae0d-72e41772c202,18262-6,Low Density Lipoprotein Cholesterol,86.0,mg/dL
79671,2017-07-10,8b9de29c-34c9-405f-840c-71b5210cf9e1,c7455496-e0a6-4a24-ae0d-72e41772c202,2085-9,High Density Lipoprotein Cholesterol,65.0,mg/dL
79672,2017-10-31,8b9de29c-34c9-405f-840c-71b5210cf9e1,NaN,273724008,Quality adjusted life years,49.124509075732604,years
79673,2017-10-31,8b9de29c-34c9-405f-840c-71b5210cf9e1,NaN,273421001,Disability rating scale,0.8754909242673958,years